<h2 mat-dialog-title>First steps using this APP</h2>
<ol>
    <li>To start, import or create a file.</li>
    <li>Before editing you must select file to operate with by selecting. (selected file name is shown in bold)</li>
    <li>To select a file, either click on its name in the tree visualization or click the menu button next to its name and select "Show file."</li>
    <li>To add or edit a visualization, right-click on the map with your mouse.</li>
    <li>To select a menu visualization, such as a track, move the mouse over it until the color changes to red, and then click the right button on the mouse.</li>
    <li>To add a waypoint, select "add waypoint" and click on the spot where you opened the menu.</li>
    <li>To create a track or route, the first point is automatically set to the place where the menu was opened. Additional points can be added by clicking on the map with the left button on the mouse.</li>
    <li>To edit settings for waypoints, tracks, or routes, expand the visualization in the tree and search for the specific element you want to edit.</li>
    <li>Click on the menu button next to the name of the element you choose and select "Settings" from the menu.</li>
    <li>Edit the settings as desired and click "Save" to apply the changes.</li>
</ol>



<div class="buttons">
    <button class="mat-raised-button"(click)="onCloseClick()">Close</button>
</div>